certifi==2020.12.5
chardet==3.0.4
docutils==0.16
idna==2.10
kaki==0.1.4
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivymd==0.104.1
monotonic==1.5
Pillow==8.0.1
Pygments==2.7.3
pypiwin32==223
pywin32==300
requests==2.25.0
urllib3==1.26.2
watchdog==1.0.1
